# API
PORT=3001

# PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/code_journey?schema=public"

# JWT Access Token
JWT_ACCESS_SECRET="CHANGE_WITH_A_STRONG_ACCESS_SECRET"
JWT_ACCESS_EXPIRES_IN="15m"

# JWT Refresh Token
JWT_REFRESH_SECRET="CHANGE_WITH_A_STRONG_REFRESH_SECRET"
JWT_REFRESH_EXPIRES_IN="7d"
